.bgSize {
  height: 100dvh;
  width: 100dvw;
}

.homeBG {
  background-image: url('../assets/home/background-home-desktop.jpg');
}

.destinationBG {
  background-image: url('../assets/destination/background-destination-desktop.jpg');
}

.crewBG {
  background-image: url('../assets/crew/background-crew-desktop.jpg');
}

.technologyBG {
  background-image: url('../assets/technology/background-technology-desktop.jpg');
}

// tablet
@media screen and (max-width: 768px) {
  .homeBG {
    background-image: url('../assets/home/background-home-tablet.jpg');
  }
  
  .destinationBG {
    background-image: url('../assets/destination/background-destination-tablet.jpg');
  }
  
  .crewBG {
    background-image: url('../assets/crew/background-crew-tablet.jpg');
  }
  
  .technologyBG {
    background-image: url('../assets/technology/background-technology-tablet.jpg');
  }
}

// mobile
@media screen and (max-width: 375px) {
  .homeBG {
    background-image: url('../assets/home/background-home-mobile.jpg');
  }
  
  .destinationBG {
    background-image: url('../assets/destination/background-destination-mobile.jpg');
  }
  
  .crewBG {
    background-image: url('../assets/crew/background-crew-mobile.jpg');
  }
  
  .technologyBG {
    background-image: url('../assets/technology/background-technology-mobile.jpg');
  }
}
