@import "..//styles/variables.module";

.contentContainer {
	display: flex;
	align-items: flex-end;
	height: calc(90dvh - 32px); // subtracted padding from navbar
}

.description {
	width: 450px;
	margin-left: 13dvw;
}

.spaceMargin {
	margin: 24px 0;
}

.description,
.exploreContainer {
	margin-bottom: 15dvh;
}

.exploreContainer {
	margin-right: 10dvw;
	margin-left: auto;
}

.exploreContainer:active {
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(255, 255, 255, 10%);
	height: 450px;
	width: 450px;
	border-radius: 180%;
	margin-bottom: 5.25dvh;
	margin-right: 4.5dvw;
}

.exploreContainer:hover {
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(255, 255, 255, 50%);
	height: 450px;
	width: 450px;
	border-radius: 180%;
	margin-bottom: 5.25dvh;
	margin-right: 4.5dvw;
}

.exploreLink {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 274px;
	height: 274px;
	border-radius: 180px;
	background-color: $primary-color;
	color: $tertiary-color;
	font-family: $secondary-font;
	font-size: 2rem;
	font-weight: 400;
	text-decoration: none;
}
