@import '../../styles/variables.module';

.headerContainer {
  display: flex;
}

.navbarLogo {
  display: flex;
  justify-content: flex-start;
}

.navbar {
  display: flex;
  align-items: center;
  width: 100dvw;

  > ul {
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
  }
}

.linksContainer {
  display: flex;
  // filter: blur(4px);

  > li {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.04);
    color: $primary-color;
  }
}

.links {
  color: $primary-color;
  text-decoration: underline;
}

.links:active {
  color :$primary-color;
  stroke: $primary-color;
  stroke-width: 100%;
}

.links:hover {
  stroke: #979797;
  stroke-width: 100%;
}

.navText {
  font-family: $primary-font;
  font-size: $primary-font-size;
  color: $primary-color;
  letter-spacing: $nav-char-space;
};