@import './styles/_variables.module.scss';

* {
  body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    color: $primary-color;
  };
};

.heading1, .heading2, .heading3, .heading4 {
  font-family: $secondary-font;
};

.heading1 {
  font-size: $heading1-font-size;
};

.heading2 {
  font-size: $heading2-font-size;
};

.heading3 {
  font-size: $heading3-font-size;
};

.heading4 {
  font-size: $heading4-font-size;
};

.heading5 {
  font-family: $primary-font;
  font-size: $heading5-font-size;
  letter-spacing: $heading5-char-space;
};

.subheading1 {
  font-family: $secondary-font;
  font-size: $subheading1-font-size;
}

.subheading2 {
  font-family: $primary-font;
  font-size: $subheading2-font-size;
  letter-spacing: $subheading2-char-space;
};